
# CUSTOM_KERNEL_SENSORHUB and NANOHUB are defined in sensor/2.0/mtk_nanohub/Kconfig
#source "drivers/misc/mediatek/sensors-1.0/sensorHub/SCP_sensorHub/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/sensorHub/SCP_sensorHub_v1/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/sensorHub/SCP_shf/Kconfig"
